
@import url('https://fonts.googleapis.com/css?family=Cinzel|Montserrat:300');

body{
    background-color: #f8b71d;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
}

#page {
    /*Takes available space to the left.*/
    margin-left: auto;
    /*Takes available space to the right.*/
    margin-right: auto;
    width:1100px;
}

.red-cinzel {
    font-family: 'Cinzel', serif;
    color: #d61a1f;
}

/*** Footer ***/

footer{
    background-color: #d61a1f;
    height:50px;
    margin:10px 0;
    box-shadow: 5px 10px 15px #fcd612;
    border-radius: 4px;
}

footer > section{
    margin-left: 5px;
    color:#fcd612;
}

.text_info{
    width:50%;
    margin:0 auto;
}

.text_info > aside {
    margin-bottom: 5px;
}

li{
    float:left;
    padding-right: 5px;
}

ul{
    list-style-type: none;
    padding:0;
}

#trailer{
    width:50%;
    margin:0 auto;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    color: #d61a1f;
}



